<div class="row row-cols-1 row-cols-md-4">


    <div *ngFor="let cancion of nuevasCanciones" class="card m-2">
        <img [src]="cancion.images[0].url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ cancion.name }}</h5>
            <p class="card-text"> </p>
            <span *ngFor="let artist of cancion.artists" class="badge rounded-pill bg-success"> {{ artist.name }} </span>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>